.navbar{
  background: white;
  padding: 5px 20px;
  img{
    width:120px;
  }
}

.navbar a {
  padding:8px;
  color: rgb(74, 72, 72);

  &:hover {
    color:black;
    text-decoration:underline;
  }
}
